[submodule "book/code"]
	path = book/code
	url = https://github.com/love2d-community/love2d-book-code.git
[submodule "public"]
	path = public
	url = https://github.com/love2d-community/love2d-book.git
	branch = gh-pages
